.containerBesar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 180px;
}

.btn{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: arial;
    font-size: 20px;
    margin-right: 0;
    margin-left: 10px;
    background-color: white;
    border-radius: 100px;
}

.btn2{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: arial;
    font-size: 20px;
    border-radius: 100px;
}

.btn3{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: arial;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 0;
    border-radius: 100px;
}

.spanCB{
    background-color: rgb(238, 238, 238);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 100px;
    position: fixed;
    z-index: 1;
}

.divH1{
    display: flex;
    justify-content: center;
}

.divH1 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    text-align: center;
    font-size: 50px;
    animation-name: slideUp;
    animation-duration: 2s;
}

.containerBesar2{
    display: flex;
    justify-content: center;
    animation-name: slideUp;
    animation-duration: 2s;
}

.containerBesar2 p{
    margin: 5px;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    border-radius: 100px;
}

.containerBesar3{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-top: 4cm;
    animation-name: slideUp;
    animation-duration: 2s;
}

.containerBesar3 img{
    width: 508px;
    height: 388px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
}

#pCB3{
    color: black;
    position: absolute;
    left: 12cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
    display: none;
    animation: slideUp;
    animation-duration: 0.3s;
}

#pCB3-2{
    color: white;
    position: absolute;
    left: 26.5cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
    display: none;
    animation: slideUp;
    animation-duration: 0.3s;
}

#pCB3-3{
    color: white;
    position: absolute;
    left: 12cm;
    top: 29.2cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
    display: none;
    animation: slideUp;
    animation-duration: 0.3s;
}

#pCB3-4{
    color: black;
    position: absolute;
    top: 29.2cm;
    left: 26.5cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
    display: none;
    animation: slideUp;
    animation-duration: 0.3s;
}


@keyframes slideUp {
    0% {
        transform: translateY(15%);
        opacity: 0;
    }
}

@media (max-width: 1440px){
    #pCB3{
        left: 6cm;
    }

    #pCB3-2{
        left: 20.5cm;
    }
}

@media (max-width: 1024px){
    #pCB3-2{
        left: 18.3cm;
        color: rgb(230, 80, 80);
    }
}

@media (max-width: 1074px){
    .containerBesar3 img{
        width: 470px;
    }
}

@media (max-width: 1008px){
    .containerBesar3 img{
        width: 450px;
    }
}
@media (max-width: 768px){
    .containerBesar3 img{
        width: 340px;
    }

    #pCB3{
        left: 4.5cm;
    }

    #pCB3-2{
        left: 13.1cm;
        color: rgb(230, 80, 80);
    }
}

@media (max-width: 425px){
    .divH1 h1{
        font-size: 30px;
    }

    .containerBesar3{
        grid-template-columns: auto;
    }

    #pCB3{
        left: 5cm;
    }

    #pCB3-2{
        left: 4cm;
        top: 26cm;
        color: rgb(230, 80, 80);
    }
}
@media (max-width: 375px){
    .containerBesar2{
        display: none;
    }

    #pCB3{
        left: 4.2cm;
    }

    #pCB3-2{
        left: 3.4cm;
        top: 25cm;
        color: rgb(230, 80, 80);
    }
}
@media (max-width: 320px){
    .divH1 h1{
        font-size: 20px;
    }

    .containerBesar3 img{
        width: 280px;
    }

    #pCB3{
        left: 3.7cm;
    }

    #pCB3-2{
        left: 2.5cm;
        top: 22.3cm;
        color: rgb(230, 80, 80);
    }
}